In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_html("https://www.baseball-reference.com/players/b/bettsmo01.shtml")
betts = df[0].iloc[6:12]

In [15]:
betts = betts[['Year','Tm','BA','HR','RBI','SB','OBP','OPS']]
betts = betts.astype({'HR':'int','RBI':'int','SB':'int'})
betts['BA'] = betts['BA'].astype('float').round(3)
betts

    Year   Tm     BA  HR  RBI  SB    OBP    OPS
6   2015  BOS  0.291  18   77  21  0.341  0.820
7   2016  BOS  0.318  31  113  26  0.363  0.897
8   2017  BOS  0.264  24  102  26  0.344  0.803
9   2018  BOS  0.346  32   80  30  0.438  1.078
10  2019  BOS  0.295  29   80  16  0.391  0.915
11  2020  LAD  0.292  16   39  10  0.366  0.927

In [16]:
betts.to_html('test.txt')

In [24]:
df2 = pd.read_html("https://www.baseball-reference.com/players/b/bregmal01.shtml")
bregman = df2[0].iloc[2:7]

In [25]:
bregman = bregman[['Year','Tm','BA','HR','RBI','SB','OBP','OPS']]
bregman

   Year   Tm     BA  HR  RBI  SB    OBP    OPS
2  2016  HOU  0.264   8   34   2  0.313  0.791
3  2017  HOU  0.284  19   71  17  0.352  0.827
4  2018  HOU  0.286  31  103  10  0.394  0.926
5  2019  HOU  0.296  41  112   5  0.423  1.015
6  2020  HOU  0.242   6   22   0  0.350  0.801

In [26]:
bregman.to_html('test2.txt')

In [31]:
df3 = pd.read_html("https://www.baseball-reference.com/players/b/bryankr01.shtml")
bryant = df3[0].iloc[3:10]
# bryant.drop(6,inplace=True)
bryant.reset_index()

,index,Year,Age,Tm,Lg,G,PA,AB,R,H,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
0,3,2015,23,CHC,NL,151,650,559,87,154,...,0.858,135.0,273,7,9,0,5,0,*5/789H3D,"AS,MVP-11,RoY-1"
1,4,2016,24,CHC,NL,155,699,603,121,176,...,0.939,146.0,334,3,18,0,3,5,579/38D6,"AS,MVP-1"
2,5,2017,25,CHC,NL,151,665,549,111,162,...,0.946,142.0,295,8,15,0,6,5,*5/9387H,MVP-7
3,6,2018,26,CHC-min,"AAA,AA",6,19,16,5,4,...,0.806,NaN,7,0,0,0,0,0,NaN,"IWA,KNX · PCL,SOUL"
4,7,2018,26,CHC,NL,102,457,389,59,106,...,0.834,121.0,179,5,17,0,3,6,597/3H,NaN
5,8,2019,27,CHC,NL,147,634,543,108,153,...,0.903,133.0,283,10,15,0,2,1,*597/3DH,AS
6,9,2020,28,CHC,NL,34,147,131,20,27,...,0.644,76.0,46,1,4,0,0,0,5/7D3,NaN

In [33]:
bryant = bryant[['Year','Tm','BA','HR','RBI','SB','OBP','OPS']]
bryant.drop([6],inplace=True)
bryant

   Year   Tm     BA  HR  RBI  SB    OBP    OPS
3  2015  CHC  0.275  26   99  13  0.369  0.858
4  2016  CHC  0.292  39  102   8  0.385  0.939
5  2017  CHC  0.295  29   73   7  0.409  0.946
7  2018  CHC  0.272  13   52   2  0.374  0.834
8  2019  CHC  0.282  31   77   4  0.382  0.903
9  2020  CHC  0.206   4   11   0  0.293  0.644

In [34]:
bryant.to_html('test3.txt')

In [37]:
df4 = pd.read_html("https://www.baseball-reference.com/players/d/degroja01.shtml")
degrom = df4[0].iloc[4:11]

In [40]:
degrom = degrom[['Year','Tm','W','L','ERA','IP','SO','WHIP']]
degrom['WHIP'] = degrom['WHIP'].round(2)

In [42]:
degrom.to_html("test4.txt")

In [44]:
df5 = pd.read_html("https://www.baseball-reference.com/players/t/tatisfe02.shtml")
tatis = df5[0].iloc[4:6]
tatis

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
4,2019,20,SDP,NL,84,372,334,61,106,13,...,0.969,154.0,197,4,5,0,3,1,6/H,RoY-3
5,2020,21,SDP,NL,59,257,224,50,62,11,...,0.937,157.0,128,6,5,0,1,1,*6/D,"MVP-4,SS"

In [45]:
tatis = tatis[['Year','Tm','BA','HR','RBI','SB','OBP','OPS']]
tatis

   Year   Tm     BA  HR  RBI  SB    OBP    OPS
4  2019  SDP  0.317  22   53  16  0.379  0.969
5  2020  SDP  0.277  17   45  11  0.366  0.937

In [46]:
tatis.to_html("test5.txt")